@import '../../../styles/colors';

.BasicButton__root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: $transparent_color;

  & > .BasicButton__icon {
    flex: 0 1 auto;
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }

  & > .BasicButton__label {
    display: inline-block;
    color: $secondary_color_dark;
  }

  &.Button__contrast {
    & > .BasicButton__icon > svg * {
      stroke: $primary_color_contrast;
    }

    & > .BasicButton__label {
      color: $primary_color_contrast;
    }
  }

  &.BasicButton_disabled {
    cursor: default;
  }
}
