@import '../../styles/colors';
@import '../../styles/z-index';

.App {
  width: 80vw;
  max-width: 1024px;
  min-width: 512px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: $white;
  position: relative;
  z-index: $appZIndex;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
