@import '../../styles/sizes';
@import '../../styles/colors';
@import '../../styles/z-index';

.List {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  &.List__list_disabled {
    // todo
  }

  & > .List__label {
    width: 100%;
    flex: 0 1 auto;
    display: block;
    padding: 1rem;
    font-weight: bold;
  }

  & > .List__list {
    width: 100%;
    margin-top: 1rem;
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    padding: 0;

    & > .List__item {
      // todo
      cursor: pointer;
      user-select: none;
      padding: 1rem;
      border-bottom: 1px dotted $secondary_light;
      color: $secondary_medium;

      &:hover {
        // todo
        border-bottom: 1px solid $secondary_medium;
      }

      &.List__item_selected {
        // todo
        border-bottom: 1px solid $primary_medium;
        color: $primary_medium;
      }

      &.List__item_disabled {
        // todo
        cursor: default;
        color: $secondary_light;
        border-bottom: 1 px dotted $secondary_light;
      }
    }
  }
}
