@import '../../styles/sizes';
@import '../../styles/z-index';
@import '../../styles/colors';

.root {
  width: calc(100% - #{$asideWidth});
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 auto;
  position: relative;
  z-index: $contentZIndex;
}
