@import '../../styles/colors';
@import '../../styles/z-index';
@import '../../styles/sizes';

.root {
  width: 100%;
  height: calc(100% - #{$toolbarHeight});
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: $contentZIndex;

  & > .row {
    width: 100%;
    padding: 1rem 0;

    & .control {
      width: 100%;
      resize: none;
      max-height: 100%;

      &.sqlInput {
        height: $sqlInputHeight;
        border: 1px solid $secondary_light;
      }
    }

    &.responseRow {
      height: calc(100% - #{$sqlInputHeight} - 2rem);
    }
  }
}