$primary_color_dark: rgba(51, 51, 102, 1);
$primary_color_medium: rgba(102, 102, 204, 1);
$primary_color_light: rgba(127, 127, 255, 1);

$primary_color_contrast: rgba(255, 255, 255, 1);
$primary_color_contrast_soft: rgba(245, 245, 245, 1);

$secondary_color_light: rgba(0, 0, 0, 0.15);
$secondary_color_dark: rgba(0, 0, 0, 1);
$secondary_color_default: rgba(0, 0, 0, 0.85);
$secondary_color_shadow: rgba(0, 0, 0, 0.30);

$transparent_color: rgba(0, 0, 0, 0);
$half_transparent_color: rgba(255, 255, 255, 0.5);
