@import '../../styles/colors';

.List__root {
  width: 100%;
  height: 100%;

  & > .list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
