@import '../../styles/sizes';
@import '../../styles/colors';
@import '../../styles/z-index';

.root {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 1px solid $secondary_light;
  padding: 1rem;
}