@import '../../styles/colors';
@import '../../styles/z-index';

.Preloader__root {
  position: absolute;
  z-index: $preloaderZIndex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $half_transparent_color;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  & > .Preloader__message {
    font-size: 2rem;
    font-weight: bold;
    color: $primary_color_medium;
  }
}
