@import '../../styles/sizes';
@import '../../styles/colors';
@import '../../styles/z-index';

.root {
  width: 100%;
  height: $toolbarHeight;
  border-top: 1px dotted $secondary_light;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;

  & .btn {
    min-width: 100px;
    height: 100%;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    outline: none;
  }
}