@import '../../styles/colors';
@import '../../styles/z-index';
@import '../../styles/sizes';

.root {
  width: 100%;
  height: $headerHeight;
  padding: 1rem 2rem;
  box-shadow: 0 2px 3px $secondary_medium;
  background-color: $primary_dark;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: $headerZIndex;

  & .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: $white;
  }
}
