@import '../../../styles/colors';
@import '../../../styles/z-index';

.MainMenu {
  position: absolute;
  top: 50vh;
  left: 50vw;
  z-index: $mainMenuZIndex;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
  background-color: $primary_color_contrast;
  box-shadow: 3px 3px 3px $secondary_color_shadow;
}