@import '../../styles/colors';

.ListItem__root {
  padding: 1rem;
  border-bottom: 1px solid $secondary_color_light;
  transition: color 200ms, border-color 200ms;
  color: $secondary_color_default;
  user-select: none;
  cursor: default;

  &:hover {
    color: $primary_color_medium;
    border-color: $primary_color_medium;
  }

  &:active {
    color: $primary_color_dark;
    border-color: $primary_color_dark;
  }

  &.ListItem_selected {
    color: $primary_color_medium;
    border-color: $primary_color_medium;
    font-weight: bold;
  }

  &.ListItem_button {
    cursor: pointer;
  }

  &.ListItem_disabled {
    cursor: default;
  }
}
