@import '../../styles/colors';
@import '../../styles/z-index';

.AppHeader {
  height: 6rem;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: $primary_color_dark;
  box-shadow: 3px 3px 3px $secondary_color_shadow;
  position: relative;
  z-index: $appHeaderZIndex;

  & > .menuButton {
    height: 4rem;
    width: 4rem;
    transition: background-color 300ms;

    &:hover {
      background-color: $primary_color_medium;
    }

    &:active {
      background-color: $primary_color_light;
    }
  }

  & > .title {
    width: calc(100% - 6rem);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: $primary_color_contrast;
  }
}
