@import '../../styles/sizes';
@import '../../styles/z-index';

.root {
  width: 100%;
  height: calc(100% - #{$headerHeight});
  position: relative;
  z-index: $contentZIndex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}