@import '../../styles/colors';

.CentralSectionContent_list {
  & .ListItem__root {
    width: calc(100% - 3px);
    background-color: $primary_color_contrast_soft;
    border-radius: .25rem;
    padding: 1rem;
    color: $secondary_color_default;
    margin-bottom: .25rem;
    box-shadow: 2px 2px 3px $secondary_color_shadow;
    border: none;
  }

  & .ListItem__selected {

  }

  /* & .item__disabled {

  } */
}