@import '../../styles/colors';

$commentNewHeight: 10rem;

.CentralSection__root {
  width: 100%;
  height: 100%;

  & > .CentralSection__title {
    height: 3rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    & > .title__header {
      font-weight: bold;
      font-size: 1.5rem;
      width: calc(100% - 5rem);
    }

    & > .title__toolbar {
      width: 5rem;

      & > .title_toolbar__btn {
        user-select: none;
        transition: color 200ms, font-weight 200ms;
        cursor: pointer;
        color: $secondary_color_default;

        &:hover {
          color: $primary_color_medium;
          font-weight: bold;
        }

        &:active {
          color: $primary_color_dark;
        }

        &.title_toolbar__btn_disabled {
          color: $secondary_color_default;
          font-weight: normal;
          cursor: default;
        }
      }
    }
  }

  & > .CentralSection__content {
    width: 100%;
    height: calc(100% - 3rem);
    padding: 1rem 0;

    & > .content__comments {
      width: 100%;
      height: 100%;

      & > .comments__list {
        width: 100%;
        height: calc(100% - #{$commentNewHeight});
        overflow-x: hidden;
        overflow-y: auto;
      }

      & > .comment__new {
        width: 100%;
        height: $commentNewHeight;
        padding: 1rem 0;

        & > .comment__new__content {
          width: 100%;
          height: 6rem;

          & > textarea {
            width: 100%;
            height: 100%;
            resize: none;
          }
        }

        & > .comment__new__toolbar {
          width: 100%;
          height: 2rem;
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: center;

          & > .toolbar__btn {
            width: 5rem;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $secondary_color_default;

            &:hover {
              color: $primary_color_medium;
              font-weight: bold;
            }

            &:active {
              color: $primary_color_dark;
            }

            &.toolbar__btn_disabled {
              cursor: default;
              color: $secondary_color_default;
              font-weight: normal;
            }
          }
        }
      }
    }

    & > .content__error {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }
}