@import '../../styles/sizes';
@import '../../styles/colors';
@import '../../styles/z-index';

.root {
  width: 300px;
  height: 100%;
  padding: 1rem;
  border-right: 1px dotted $secondary_light;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 auto;
  position: relative;
  z-index: $contentZIndex;
}