html {
  font: normal 16px/100% Arial, sans-serif;
}

html, body, * {
  box-sizing: border-box;
}

#question {
  text-align: center;
}

#wrapper {
  width: 20rem;
  margin: 0 auto;
  padding: 2rem;
}

#statistics__bar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0,255,0,0.1);
}

#statistics__toolbar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

#statistics__toolbar_download,
#statistics__toolbar_show {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.btn__download,
.btn__show {
  width: 120px;
  margin: 0 0.5rem;
}

.btn__download input[type='submit'] {
  width: 100%;
}

.vote__item {
  flex: 0 1 auto;
  display: inline-block;
  padding: 0.25rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(0,0,0,0.1);
}

.form__control {
  padding: 1rem 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.form__control.btn__submit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.form__control > label {
  display: inline-block;
  width: 10rem;
}

/*
  modal div
*/
#statistic__modal_view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(240,240,240,0.8);
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#statistic__modal_view.modal__visible {
  display: flex;
}

#statistic__modal_wrapper {
  width: 80%;
  height: 80%;
  padding: 1rem;
  background-color: rgba(255,255,255,1);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#statistic__modal_content {
  flex: 1 0 auto;
  width: 100%;
  height: calc(100% - 6rem);
}

#statistic__modal_toolbar {
  flex: 1 0 auto;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
