@import '../../styles/colors';
@import '../../styles/z-index';

.AppContent {
  height: calc(100vh - 6rem);
  min-height: 26rem;
  max-width: 60rem;
  min-width: 20rem;
  width: 100vw;
  margin: 0 auto;
  background-color: $primary_color_contrast;
  position: relative;
  z-index: $appContentZIndex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  & > .aside {
    flex: 1 0 auto;
    height: 100%;
    width: 300px;
    padding: 2rem;
  }

  & > .central {
    flex: 1 0 auto;
    height: 100%;
    width: calc(100% - 300px);
    padding: 2rem;
  }
}
