@import '../../styles/colors';
@import '../../styles/z-index';

.ModalGlass {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $modalGlassZIndex;
  width: 100vw;
  height: 100vh;
  background-color: $transparent_color;
  cursor: default;
}